@import "tailwindcss";


@layer base {
  html {
    scroll-behavior: smooth;
  }

  button {
    cursor: pointer;

  }
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

}

@layer components {
  /* Primary Button */
  .btn-primary {
    @apply bg-pink-600 px-4 py-2 font-bold rounded-xl text-white;
    @apply hover:bg-blue-700;
    @apply focus:ring-blue-500;
    @apply shadow-sm hover:shadow-md;
  }
  
  /* Secondary Button */
  .btn-secondary {
    @apply bg-gray-200 text-gray-900;
    @apply hover:bg-gray-300;
    @apply focus:ring-gray-500;
  }
  
  /* Outline Button */
  .btn-outline {
    @apply border-gray-300 text-gray-700;
    @apply hover:bg-gray-50;
    @apply focus:ring-gray-500;
  }
}